<h2>会員の方はこちらからログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table class="table">
    <tr>
      <td></td>
      <td>メールアドレス</td>
      <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-8" %></td>
    </tr>
    <tr>
      <td></td>
      <td>パスワード</td>
      <td colspan="2"><%= f.password_field :password, autocomplete: "current-password", class: "col-xs-8" %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to "→パスワードを忘れた方はこちら", new_password_reset_path %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= f.submit "ログイン", class: "btn btn-default" %></td>
      <td></td>
    </tr>
  </table>
<% end %>


<h2>登録がお済みでない方</h2>

<table class="table">
  <tr>
    <td></td>
    <td><strong><%= link_to "こちら", new_registration_path(resource_name) %></strong>から新規登録を行ってください。</td>
  </tr>
  <tr></tr>
</table>

<!-- <%= render "members/shared/links" %> -->
