<h1>ジャンル編集</h1>

<%= form_for @genre, url: admin_genre_path, method: :patch, class: "form-control" do |f| %>

 
   
    
    <table class="table">
        <tr>
            <th> ジャンル名 </th>
            <td> <%= f.text_field :name, class:"form-control" %> </td>
            <td>有効 <%= f.radio_button :is_valid, true %> </td>
            <td>無効 <%= f.radio_button :is_valid, false %> </td>
            <td> <%= f.submit "変更を保存する", class:"btn btn-lg btn-block btn-base-1 mt-20" %> </td>
        </tr>
    </table>
    
       
    
      
 <% end %>