<div class="col-offset-1 col-xs-11">
  <h2 class="head-line title_h2 ">管理者ログイン</h2>
</div>
<div class="col-xs-3">
</div>

<div class="col-xs-6 col-offset-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
    <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-8 form-control-static" %>
  </div>

  <div class="field form-group">
    <%= f.label :"パスワード", class: "col-sm-4 control-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-8 form-control-static" %>
  </div>
</div>

<div class="col-xs-3">
</div>
  
<div class="col-xs-7 col-offset-2">
  <div class="actions">
    <%= f.submit "　ログイン　", class: "btn btn-info pull-right btn-lg" %>
  </div>
  <% end %>
</div>
